<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap_overlap.css">

    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700' rel='stylesheet' type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js"></script>
    

    <!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/js/bootstrap.min.css"> -->
  </head>
  <body>

    <!-- Navigation  -->
    <nav id="ut-nav">
      <span class="title title_full">URBAN TEMPLE</span>
      <span class="title title_short">[ UT ]</span>
    </nav>

    <!--  welcome  -->
    <div class="row">
      <div class="col-sm-12">
        <div class="welcome_page">
          <div class="primary_promo_vid_container">
            <div class="text-center" style="padding-top: 25%;"> video will be here</div> <!-- dummy -->
          </div>
          <div class="col-sm-12">
            <p class="tagline text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
          </div>
        </div>
      </div>
    </div>

    <!-- mission  -->
    <div class="mission_page">
      <div class="mission_container">
        <div class="row"
          <div class="col-sm-12">
            <div class="col-sm-6">
              <div class="block_420">
                <div style="margin: -125px 0 0 -140px; border: 1px solid #DADCE5;width: 400px;height: 250px;position: absolute;top: 50%;left: 29%;"> <!-- dummy -->
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mission_content">
                Urban Temple aims to provide a space admist the hubbub of city life to destress and detox.  The community comprises of a collective of
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- tagline  -->
    <div class="row tagline_page">
      <div class="col-sm-12">
        <div class="text-center tagline_content">
          Urban Temple aims to provide a space admis
        </div>
      </div>
    </div>

    <!-- discipline -->
    <div class="discipline_page">
      <div class="discipline_container">
        <div class="row">
          <div class="col-sm-12 margin_bottom_50">
            <div class="col-sm-4 no-side-padding text-center">
              <img class="discipline_cir_pic" src="images/circle-mock.png" alt="">
              <div class="discipline_description">
                Urban Temple aims to provide a space admist the hubbub of city life to destress and detox.
              </div>
            </div>
            <div class="col-sm-4 no-side-padding text-center">
              <img class="discipline_cir_pic" src="images/circle-mock.png" alt="">
              <div class="discipline_description">
                Urban Temple aims to provide a space admist the hubbub of city life to destress and detox.
              </div>
            </div>
            <div class="col-sm-4 no-side-padding text-center">
              <img class="discipline_cir_pic"src="images/circle-mock.png" alt="">
              <div class="discipline_description">
                Urban Temple aims to provide a space admist the hubbub of city life to destress and detox.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- contact  -->
    <div class="contact_page">
      <div class="contact_container">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <div class="google_map_wrapper">
                <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJOak3a6SAhYAR5heh5px9Kow&key=AIzaSyAgYPmvewT_nuWOmaaNu2BTFWO1gZK-SWw" allowfullscreen></iframe>
              </div>
              </div>
            <div class="col-sm-6">
              <div class="contact_content">
                Urban Temple aims to provide a space admist the hubbub of city life to destress and detox.  The community comprises of a collective of
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <style>
      .google_map_wrapper iframe {width:100%; height: 400px;}
    </style>



    <!-- subscribe -->
    <div class="row subscribe_page">
      <div class="subscription_container col-sm-12">
        <div class="col-sm-12">
          <div class="subscribe_content">
            Subscribe for newsletter
          </div>
        </div>
        <div class="col-sm-12 text-center">
          <input class="subscription_input" type="text" name="input" value="youremail@example.com">
          <button class="subscription_btn">Submit</button>
        </div>
      </div>
      <div class="center_align margin_bottom_30">
        <div class="share_text">share with friends:</div>
        <a class="share_facebook_btn share_link_bg" href="http://pacific-cliffs-7946.herokuapp.com/"></a>
        <a class="share_twitter_btn share_link_bg" href="http://pacific-cliffs-7946.herokuapp.com/"></a>
      </div>
      <div class="center_align margin_bottom_30">
        <span class="copy_right">&copy;2015 Urban Temple</span>
      </div>
    </div>

  </body>
</html>



<script>
  $(function(){
    $("#ut-nav").sticky({topSpacing:0})
  });
</script>

<style>

</style>

<!--


"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."


-->

